<!-- View list HTML page -->


<html layout:decorator="layout">

<div layout:fragment="content">


    <table class="table table-striped" id="reviews_list">
        <thead>
        <tr>
            <th>Comments</th>
            <th>Action</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr data-th-each="review : ${reviews}">
            <td class="message" data-th-text="${review.review}"></td>

            <td>
                <a th:href="@{'/reviews/{id}/delete'(id=${review.id})}" class="delete" th:attr="name=${review.review}">
                        <span class="fa-stack">
                            <i class="glyphicon glyphicon-trash"></i>
                        </span>
                </a>
            </td>

            <td>
                <a th:href="@{'/reviews/{id}/edit'(id=${review.id})}" class="edit" th:attr="name=${review.review}">
                    <span class="fa-stack">
                        <i class="glyphicon glyphicon-edit"></i>
                    </span>

                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <a class="btn btn-primary" href="/reviews/new">Add new Review</a>
</div>
</html>
